@import "tailwindcss";

@font-face {
    font-family: 'poppins';
    font-weight: 400;
    src: url('../fonts/Poppins-Regular.woff2') format('truetype');
}
@font-face {
    font-family: 'poppins';
    font-weight: 500;
    src: url('../fonts/Poppins-Medium.woff2') format('truetype');
}
@font-face {
    font-family: 'poppins';
    font-weight: 600;
    src: url('../fonts/Poppins-SemiBold.woff2') format('truetype');
}
@font-face {
    font-family: 'poppins';
    font-weight: 700;
    src: url('../fonts/Poppins-Bold.woff2') format('truetype');
}
@font-face {
    font-family: 'poppins';
    font-weight: 800;
    src: url('../fonts/Poppins-ExtraBold.woff2') format('truetype');
}
@layer base {
  body {
    font-family: 'poppins', sans-serif;
  }
}
:root {
    --primary: #070D18;
    --normal: #ffffff;
    --secondary: #000000;
    --divider: #CECECE;
    --color-control: #DBDBDB;
    --pink: #FD5B71;
    --light-pink: #FFEFF1;
    --blue: #41BBEA;
    --contact: #42BDEC;
    --repeat :#828282;
    --define: #505050;
    --card: #808080;
    --block: #797979;
    --brand: #6A6A6A;
    --muted: #424242;
    --light-gray: #737373;
    --purple: #6E00FA;
    --light-purple: #F5EEFC;
    --light-black: #C4C4C4;
    --box-color: #F1F1F1;
    --light-yellow: #FDFBDA;
    --light-blue: #E2F3FF;
    --box-pink: #FFE7FB;
    --light-brown: #F6EEE7;
    --box-gray: #F1F1F1;
    --box-purple: #F1E8FF;
    --light-green: #E2FFF1;
    --inert: #C4C4C4;
    --const: #575757;
    --dark-green: #183643;

    --leading-178: 1.78;
    --leading-169: 1.69;
    --leading-211: 2.11;
    --leading-151: 1.51;
    --leading-211: 1.89;
    --leading-100: 100%;
    --leading-191: 1.91;
    --leading-tight: 20px;

    --tracking-1: 0.01em;

    --container-main: 1310px;
    --fs-42: 42px;
    --fs-15: 15px;
    --fs-9: 9px;
    --fs-25: 25px;
    --fs-65: 65px;
    --fs-35: 35px;
    --fs-27: 27px;
    --fs-32: 32px;
    
}

@theme {
    --color-primary: var(--primary);
    --color-normal:var(--normal);
    --color-secondary:var(--secondary);
    --color-divider:var(--divider);
    --color-color-control:var(--color-control);
    --color-pink:var(--pink);
    --color-light-pink:var(--light-pink);
    --color-blue:var(--blue);
    --color-contact:var(--contact);
    --color-repeat:var(--repeat);
    --color-define:var(--define);
    --color-card:var(--card);
    --color-block:var(--block);
    --color-brand:var(--brand);
    --color-muted:var(--muted);
    --color-light-gray:var(--light-gray);
    --color-purple:var(--purple);
    --color-light-purple:var(--light-purple);
    --color-light-black:var(--light-black);
    --color-box-color:var(--box-color);
    --color-light-yellow:var(--light-yellow);
    --color-light-blue:var(--light-blue);
    --color-box-pink:var(--box-pink);
    --color-light-brown:var(--light-brown);
    --color-box-gray:var(--box-gray);
    --color-box-purple:var(--box-purple);
    --color-light-green:var(--light-green);
    --color-inert:var(--inert);
    --color-const:var(--const);
    --color-dark-green:var(--dark-green);

    --leading-178: var(--leading-178);
    --leading-169: var(--leading-169);
    --leading-211: var(--leading-211);
    --leading-151: var(--leading-151);
    --leading-189: var(--leading-189);
    --leading-100: var(--leading-100);
    --leading-191: var(--leading-191);
    --leading-tight: var(--leading-tight);

    --tracking-1: var(--tracking-1);


    --max-w-container-main: var(--container-main);
    --text-42: var(--fs-42);
    --text-15: var(--fs-15);
    --text-9: var(--fs-9);
    --text-25: var(--fs-25);
    --text-65: var(--fs-65);
    --text-35: var(--fs-35);
    --text-27: var(--fs-27);
    --text-32: var(--fs-32);


}

@utility container-custom {
  @apply max-w-327.5 mx-auto px-5;
}
@utility footer-span{
    @apply px-7.5 py-1 rounded-sm bg-light-black/19 text-xs font-light leading-191
}
@utility block-h4{
    @apply text-center text-xl lg:text-25 font-medium leading-178 tracking-1 mb-3
}
@utility block-p{
    @apply text-center lg:text-base text-xs text-block leading-178 tracking-1
}
@utility block-class{
    @apply w-22 h-22 mx-auto lg:mb-10 mb-5 rounded-2xl flex items-center justify-center
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }

  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }
}